/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*FONT*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');



/*ALL*/
:root{
    --dark: #1A1A1A;
    --light: #EBEBEB;
    --gold: #DAA520;
    --soft-gold: #F5DA95;
    --dark-gold: #CE8025;
}



.content {
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main{
  margin: 0 auto;  
}

a {
    text-decoration: none;
    color: inherit;
}


/****TRONC COMMUN****/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.main-connexion, .main-profil,.main-inscription{
    display: flex;
    justify-content: center;
}

.body-connexion,.body-profil,.body-inscription{
    background-size:contain;
}


.form-connexion,.form-profil,.form-inscription{
    padding:3%;
    margin-top:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    color:white;
}

.form-connexion h1,
.form-connexion label,
.form-profil h1,
.form-profil label,
.form-inscription h1,
.form-inscription label{text-align: center;}

.form-connexion input[type="text"],
.form-profil input[type="text"],
.form-inscription input[type="text"],
.form-connexion input[type="password"],
.form-profil input[type="password"],
.form-inscription input[type="password"]{
    padding:1%;
    width:100%;
    height:30px;
}

.form-connexion input[type="text"],
.form-profil input[type="text"],
.form-inscription input[type="text"],
.form-connexion input[type="password"],
.form-profil input[type="password"],
.form-inscription input[type="password"],
.form-connexion input[type="submit"],
.form-profil input[type="submit"],
.form-inscription input[type="submit"]{
    border-radius:5px;
    border:0.1px solid lightgray;
    font-family: 'Montserrat', sans-serif;
    
}



.form-connexion input[type="submit"],
.form-inscription input[type="submit"],
.form-profil input[type="submit"]{
    width:25%;
}


.form-connexion input[type="submit"],
.form-inscription input[type="submit"],
.form-profil input[type="submit"],
.form-commentaire input[type="submit"]{
    padding:2%;
    background-color:#333;
    color:white;
    outline-color:#987316;
}

.form-connexion input[type="submit"]:hover,
.form-profil input[type="submit"]:hover,
.form-inscription input[type="submit"]:hover,
.form-commentaire input[type="submit"]:hover{
    background-color:#987316;
    border:1px solid white;
    transition:1s;
}

.form-connexion span,
.form-profil span, 
.form-inscription span,
.form-commentaire span{
    color:red;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** HEADER ***/

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:50px;
    background-color:rgba(0,0,0,0.8);
    color:white;
}

.categorie1{width:25%;}
.categorie2,.logo{width:33.33%;}

.categorie1,.categorie2,.logo{
    display: flex;
    align-items: center;
    justify-content:center;
    height:100%;
}

.categorie1:hover,.categorie2:hover{

    background-color:rgba(218,165,32,0.7);
}

nav .logo{
    font-family: 'Caveat Brush', cursive;
    font-style:italic;
    font-size:25px;
}

nav .logo:hover{
    filter: drop-shadow(0 0 1rem #DAA520);
    color:#DAA520;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** FOOTER ***/

.footer{
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    padding-bottom:3%;
}

.footer:hover{
    color:white;
    background-color:rgba(0,0,0,0.6);
    transition:1s;
}

.footer .logo{
    display: flex;
    justify-content: flex-start;
    width:20%;
    font-size:25px;
}

.footer .menu{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width:40%;
    height:100%;
    color:white;
    text-shadow:1px 1px 1px black;
}

.menu a:hover{
    text-decoration: underline;
    
}

.footer .RS{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:20%;
}

.footer .RS i{
    font-size:30px;
}

.footer .RS i:hover{
    color:rgb(251,240,178);
}


/***RESPONSIVE HEADER + FOOTER***/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


@media (max-width:800px) {
    
    .categorie1,.categorie2{
        font-size:13px;
    }
    
    nav .logo{
        font-size:20px;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer .menu,.footer .logo, .footer .RS{
        width:100%;
        align-items: center;
    }
    
    .footer .menu, .footer .logo{
        justify-content: space-around;
    }
    
    .footer .menu{margin-bottom:5%;}
}


/*** INDEX ***/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.body-index{
    background:url(https://dty8d8u6se0an.cloudfront.net/media/image/thumbnail/821517-A_Persephone_1440x1100.jpg) center fixed;
    background-size: contain;
}

/*** Header ***/


.banniere{
    display:flex;
    justify-content: center;
    align-items: center; 
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSyd7IVfNZEtpPiIuS4mM0em8rJGivNre6dqQ&usqp=CAU) center fixed;
    background-size:cover;

    width:100%;
    color:white;
    height:400px;
}

/*** Main ***/

.main-index{
 font-weight:bold;
}

.section-presentation h1,
.section-presentation h2{
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    margin:0;
}

.section-presentation h1{
    font-size:50px;
}


.section-presentation h2{
    font-size:30px;
}

.section-presentation p{
    text-align: justify;
}

.section-articles {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top:5%;
    padding:3%; 
    background-color: rgba(255,255,255,0.7);
}

.section-articles h1{
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-size:30px;
}

.articles{
    display: flex;
    justify-content: space-around;
}

.articles img {
    width:100%;
}

.article {
    width:40%;
    text-align: justify;
}

.article h2{
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}

.section-commentaire, .section-presentation{
    display: flex;
    justify-content: space-around;
    margin-top:5%;
    margin-bottom:5%;
    background-color:rgba(218,165,32,0.7);
    padding:5%;
    color:white;
}

.commentaire-form,.commentaire-paragraphe{
    width:45%;
}

.commentaire-paragraphe{
    text-align: justify;
}

.commentaire-paragraphe h1{
    font-family: 'Caveat Brush', cursive;
}

textarea{
    resize:none;
    width:100%;
    height:200px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    outline-color: #987316;
}

.section-commentaire .titre{
    width:15%;
    text-align: left;
    font-size:15px;
}

.section-commentaire .paragraphe{
    width:30%;
    text-align: justify;
}

.section-commentaire button {
    background-color: rgba(0,0,0,0.7);
    border-radius:30px;
    padding:2%;
    color:white;
    font-family: 'Montserrat', sans-serif;
    border:none;
}

.form-commentaire input[type="submit"]{
    width:100%;
    border: none;
    font-family: 'Montserrat', sans-serif;
}


/*** RESPONSIVE INDEX ***/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width:800px){
    .articles{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .article {
        width:90%;
    }
    
    .article h2{text-align:center;
    }
    
    .section-commentaire{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section-commentaire .titre,
    .section-commentaire .paragraphe{
        width:90%;
    }
    
    .section-commentaire .titre{
        text-align: center;
    }
    
    .section-commentaire button{
        margin-left:40%;
    }
    
    .commentaire-form{
        width:90%;
    }
    
    .commentaire-paragraphe{
        display: none;
    }
}


/****INSCRIPTION****/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


.form-inscription{
    margin-bottom:3.5%;
    background-color:rgba(0,0,0,0.6);
}


/*** CONNEXION ***/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


.body-connexion{
    background:url('https://i.pinimg.com/originals/43/ec/64/43ec643e415690208f5d933cf9dcef84.jpg') center fixed;
}

.body-inscription{background:url(https://cdn-s-www.estrepublicain.fr/images/8B29D48E-7CE1-4DB1-A4D6-F33605472768/NW_raw/ganesh-le-dieu-a-tete-d-elephant-cher-aux-hindous-est-egalement-venere-en-thailande-photo-dr-1592293524.jpg) center fixed;}



.form-connexion{
    margin-bottom:10%;
    background-color:rgba(0,0,0,0.6);
}



/****PROFIL****/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.body-profil{
    background:url(images/livreor.jpg)center fixed;
}

.form-profil{
    margin-bottom:3%;
    background-color:black;
}



/***RESPONSIVE INSCRIPTION/CONNEXION/PROFIL ***/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



@media(max-width:950px){
    .form-connexion{
        margin-bottom:12%; 
    }
}

@media(max-width:899px){
    .form-connexion, .form-inscription, .form-profil{
        width:70%;
        padding:5%;
        
    }
}




/**** LIVRE OR ****/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.body-livreor{
    background:url(https://dty8d8u6se0an.cloudfront.net/media/image/thumbnail/431071-A_Helene_1440x1100.jpg) center fixed;
    background-size:contain;
}

.commentaire{
    margin-top:5%;
    margin-bottom:30%;
    margin-right:5%;
    margin-left:5%;
}

.main-livreor table{

}

.commentaire table{
    width:100%;
}

.commentaire th{
    text-align: center;
}

.commentaire th,.commentaire td{
    border:1px solid #DAA520;
}

th.date, td.date{
    background-color:#DAA520;
    color:white;
    border:1px solid white;
}

th.message{
    color:white;
    background-color:rgba(255,255,255,0.6);
    font-size:30px;
    text-shadow:1px 1px 1px black;
}

.date{
    width:15%;
    text-align: center;
    color:white;
    font-weight: bold;
    background-color:#DAA520;
    border:1px solid white;
}

.message{
    text-align: justify;
    padding:2%;
    background-color:rgba(255,255,255,0.6);

}
.main-message{
       font-style: italic; 
        font-weight:bold;
}

.signature{
    color:white;
    font-weight: bold;
    background-color:rgba(218,165,32,0.7);
    border-radius:15px;
    padding:0.5%;
    width:10%;
    text-align: center;
}

/**** LIVRE OR RESPONSIVE****/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media (max-width:950px){
    .signature{
        width:20%;
    }
}

@media (max-width:800px){
    .signature{
        width:30%;
    }
}


